<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

<!-- 	<context:property-placeholder -->
<!-- 		location="file:/breakpoint/americano/applicationSystemConfig.xml" /> -->

<context:property-placeholder location="classpath*:app.properties" />
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/mybatisConfig.xml" />
		<property name="mapperLocations" value="classpath*:sql/**/*.xml" />
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:/message/message</value>
            </list>
        </property>
        <property name="cacheSeconds" value="100000" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>
    <bean id="messageSourceAccessor" class="org.springframework.context.support.MessageSourceAccessor">
        <constructor-arg ref="messageSource"/>
    </bean>
    <bean id="messageUtil" class="co.kr.abiyo.api.common.MessageUtil">
        <property name="messageSourceAccessor" ref="messageSourceAccessor"/>
    </bean>   


	<!-- <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> -->
	<!-- <property name="dataSource" ref="dataSource"/> -->
	<!-- </bean> -->

	<!-- <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean"> -->
	<!-- <property name="configLocation" value="classpath:sqlMapConfig.xml"/> -->
	<!-- <property name="dataSource" ref="dataSource"/> -->
	<!-- </bean> -->

	<!-- <bean id="CountryDAO" class="com.sds.hr.dao.CountryDAOImpl"> -->
	<!-- <property name="sqlMapClient" ref="sqlMapClient"></property> -->
	<!-- </bean> -->

	<!-- <context:component-scan base-package="com.sds.hr.vo"></context:component-scan> -->
	<!-- <context:component-scan base-package="com.sds.hr.service"></context:component-scan> -->
	<!-- <context:component-scan base-package="com.sds.hr.dao"></context:component-scan> -->
</beans>
